.git
.github
.env
.env.*
!.env.example
gha-creds-*.json
.venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.terraform
*.tfstate*
*.tfvars
*.tfvars.json
notebooks
logs
dist
build
*.egg-info
